@model ProjectTest.Models.LoginResponseJsonModel

@{
    ViewData["Title"] = "Login response";
}

<h2>Response</h2>

<div>
    <h4 style="color: @ViewBag.Color">@ViewBag.Result</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntityId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntityId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailConfirm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MobileConfirm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MobileConfirm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContryID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FTPHost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FTPHost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FTPPort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FTPPort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResultCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResultCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResultMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResultMessage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to login form</a>
</div>
